/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

/* BACKGROUND */
body {
  height: 100vh;
  background: url("bg1.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAYMENT BOX */
.payment-container {
  background: rgba(255, 255, 255, 0.96);
  width: 420px;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* TITLE */
.payment-container h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

/* ITEM */
.item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

/* TOTAL */
.total {
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

/* PAYMENT METHOD */
.payment-method {
  margin: 20px 0;
  font-size: 14px;
}

.payment-method label {
  display: block;
  margin-bottom: 8px;
}

/* BUTTON */
.pay-button {
  width: 100%;
  padding: 12px;
  background: #666;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-button:hover {
  background: #333;
}
